$buyCriptoPluginWhite: white;
$buyCriptoPluginWhite-1: #fafbfc;
$buyCriptoPluginBlack: black;
$buyCriptoPluginBlack-1: #171717;
$buyCriptoPluginGray-1: #3d4047;
$buyCriptoPluginGray-2: #4d4d4d;
$buyCriptoPluginGray-3: #b7babf;
$buyCriptoPluginGray-4: #2c2c2e;
$buyCriptoPluginGray-5: #8e8e93;
$buyCriptoPluginGray-6: #626a77;
$buyCriptoPluginGray-7: #262626;
$buyCriptoPluginGray-8: #77797d;
$buyCriptoPluginGray-9: #aeaeb2;
$buyCriptoPluginGray-10: #3e3e42;
$buyCriptoPluginGray-11: #6c727a;
$buyCriptoPluginBlue-1: #54bcff;
$buyCriptoPluginBlue-2: #3ba9f1;
$buyCriptoPluginBlue-3: #7cc8ff;
$buyCriptoPluginBlue-4: #5e64fc;
$buyCriptoPluginPink-1: #fd92ff;
$buyCriptoPluginGreen-1: #27eaff;
$buyCriptoPluginRed-1: #ff5942;

$container: 1024px;
$bg: #262626;
$bg-container: #2c2c2e;